* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: white;
}
h1 {
    background: blue;
    color: white;
    font-size: 1.75rem;
    padding: 14px 0;
    text-align: center;
}
.container {
    display:flex;
    gap: 35px;
    padding: 30px;
}