* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: white;
}
h1 {
    background: blue;
    color: white;
    font-size: 1.75rem;
    padding: 14px 0;
    text-align: center;
}
.container {
    display:flex;
    gap: 35px;
    padding: 30px;
}
.weather-input input {
    width: 100%;
    padding: 8px 15px;
    margin: 10px 0 20px 0;
}

.weather-input button {
    width: 100%;
    padding: 8px 0;
    outline: none;
    border: none;
    background-color: rgb(91, 91, 237);
    color: white;
    border-radius: 5px;

}
.weather-input .search-history{
    background-color: grey;
    color: black;
}


.weather-input .divider {
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #bbb;
} 

.current-weather {
    background-color: grey;
    border-radius: 5px;
    padding: 20px 70px 20px 20px;
    justify-content: space-between;
}

.current-weather h2 {
    font-size: 1.7rem;
}
.week-forecast{
    position: relative;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.week-forecast h2{
    width: 100%;
    padding: 8px 15px;
    margin: 10px 0 20px 0;
}
.weather-data h4 {
    margin-top: 12px;
    font-size: 1rem;
    font-weight: 500;
}
.forecast{
    display: flex;
    gap: 20px;
}
.forecast .card{
list-style: none;
background-color: grey;


}